p{
    color:red
}
.plain{
    border:solid;
    border-color:black;
    color:rgb(65, 65, 172);
}
#URL{
    border:solid;
    border-color:red;
}
.emphasize{
    font-size:20vw;
    color:red;
    font-style:italic;
    font-weight:800;
    text-decoration:underline;
}